#about p {
  text-align: justify;
}

#about .box {
  position: absolute;
  background-color: rgb(var(--second-color));
  color: white;
  padding: 5%;
  bottom: -5%;
  right: -25%;
  width: 50%;
  box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.55);
}

#about .box h1 {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
}

#about .box p {
  color: white;
  text-align: center;
  margin-bottom: 0rem;
  line-height: 1.2rem;
}

@media (max-width: 1000px) {
  #about img {
    display: none;
  }
  #about .box {
    top: auto;
    right: auto;
    position: relative;
    margin-top: 3rem;
    width: 90%;
    box-shadow: none;
  }
}