#contact h1, #contact #preface {
    text-align: center;
}

#contact #preface p {
    margin-bottom: 0.25rem;
}

#contact #preface button {
    margin-bottom: 3rem;
    font-weight: bold;
    background-color: rgb(var(--second-color));
    color: #fff;
    border: none;
    padding: 0.25rem 1rem;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#contact #preface button:hover {
    cursor: pointer;
    background-color: rgb(var(--text-color));
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

#contact .mail {
    margin: 0 2rem 0 0;
    text-align: right;
}

#contact .info {
    margin: 0 0 0 2rem;
}

#contact .info i {
    font-size: 40px;
    color: rgb(var(--text-color));
    float: left;
}

#contact .info p {
    padding-left: 50px;
    line-height: 40px;
    margin-left: 1rem;
}

#contact .info .line {
    margin-bottom: 3rem;
}

#contact form input, #contact form textarea {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    padding: 10px 2%;
    border: none;
    transition: 0.7s;
    border-bottom: 0.2rem solid rgb(54, 56, 58);
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 96%;
    max-width: 96%;
    min-width: 96%;
    text-align: right;
}

#contact form input:not([type="button"]):focus, #contact form textarea:focus {
    border-bottom: 0.2rem solid rgb(var(--second-color));
    outline: none;
    transition: 0.7s;
    background-color: rgba(var(--second-color), 0.1);
}

#contact form input[type="button"] {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    background-color: rgb(var(--text-color));
    color: #fff;
    border: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

#contact form input[type="button"]:hover {
    background-color: rgb(var(--second-color));
    transition: 1s;
    cursor: pointer;
}

.body .calendar .tbl-left {
    margin-top: 1rem;
    -webkit-box-flex: 50%;
    -ms-flex: 50%;
    flex: 50%;
    float: left;
    text-align: right;
}

@media (max-width: 1000px) {
    #contact .mail {
        margin: 0;
    }
    #contact .info {
        text-align: center;
        float: unset;
        margin: 0;
        margin-top: 5%;
    }
    #contact .info i {
        font-size: 32px;
        color: rgb(var(--text-color));
        float: unset;
    }
    #contact .info p {
        padding: 0 0 0 0;
        line-height: 20px;
        margin-bottom: 10%;
        margin-left: 0;
    }
    #contact form input[type="button"] {
        margin-bottom: 3rem;
    }
    #contact form input, #contact form textarea {
        text-align: left;
    }
}

@media (min-width: 1000px) {
    .body .tbl-left {
        margin-top: 1rem;
        -webkit-box-flex: 50%;
        -ms-flex: 50%;
        flex: 50%;
        float: left;
        text-align: right;
    }
    .body .tbl-right {
        float: right;
        text-align: left;
        -webkit-box-flex: 50%;
        -ms-flex: 50%;
        flex: 50%;
    }
    #contact .info p {
        margin-bottom: 3.2rem;
    }
    #contact .contact-form {
        width: 65%;
        margin-left: 35%;
    }
}