#home .path a {
    text-decoration: underline;
}

#home .info {
    background-color: rgb(var(--second-color));
    border-bottom-left-radius: 100px;
}

#home .info h1 {
    font-size: 4rem;
    line-height: 4.2rem;
    color: #fff;
    text-align: center;
}

section:not(#home) p {
    margin-top: 0;
    line-height: 1.3rem;
}

#home .info p {
    margin-top: 0.5rem !important;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
}

#home .info img {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.55);
    box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.55);
}

table.mail tr th:nth-child(1) {
    text-align: left;
}

table.mail tr th:nth-child(2) {
    text-align: right;
}

p, td {
    text-align: justify;
}

h2 {
    margin: 1.75rem 0 0.75rem 0;
}

img {
    width: 100%;
}

a {
    text-decoration: underline;
}

@media (min-width: 1000px) {
    #home {
        height: 14.2rem;
    }
    #home .path {
        width: 30%;
        text-align: center;
    }
    #home .info {
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
    }
    #home .info h1 {
        margin: 5rem 0;
    }
    #home .info .text {
        text-align: center;
    }
    .article {
        column-count: 2;
        column-gap: 5%;
    }
}

@media (max-width: 1000px) {
    #home {
        width: 100%;
    }
    #home .path {
        width: calc(100%-1rem);
        text-align: right;
        margin: 1rem 1rem 1rem 0;
    }
    #home .info {
        padding: 15% 0 15% 0;
        width: 100%;
        border-bottom-left-radius: 40px;
    }
    #home .info h1 {
        margin: 0;
    }
    #home .info img {
        position: relative;
        top: 10%;
        width: 60%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
    }
    #home .info .text {
        position: relative;
        width: 90%;
        margin: 10% 5% 0 5%;
    }
    #home .info .text * {
        text-align: center;
    }
    .row .tbl:not(:nth-child(1)) {
        margin-top: 3rem;
    }
    .mobile-not {
        display: none;
    }
}