#home .path a {
    text-decoration: underline;
}

#home .info {
    background-color: rgb(var(--second-color));
    border-bottom-left-radius: 100px;
}

#home .info h1 {
    font-size: 4rem;
    line-height: 4.2rem;
    color: #fff;
    margin: 5rem 0;
    text-align: center;
}

#home .info p {
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
}

#home .info img {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.55);
    box-shadow: 0 30px 100px -20px rgba(0, 0, 0, 0.55);
}

@media (min-width: 1000px) {
    #home {
        height: 14.2rem;
    }
    #home .path {
        width: 30%;
        text-align: center;
    }
    #home .info {
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
    }
    #home .info .text {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    #home {
        width: 100%;
    }
    #home .path {
        width: calc(100%-1rem);
        text-align: right;
        margin: 1rem 1rem 1rem 0;
    }
    #home .info {
        padding: 15% 0 10% 0;
        width: 100%;
    }
    #home .info img {
        position: relative;
        top: 10%;
        width: 60%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
    }
    #home .info .text {
        position: relative;
        width: 90%;
        margin: 10% 5% 0 5%;
    }
    #home .info .text * {
        text-align: center;
    }
}