section#internship {
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 7%;
  padding-top: 6%;
  background-color: rgb(240, 249, 250);
  width: 100%;
}

#internship h1 {
  text-align: center;
}

#internship .quote {
  margin: 5rem 5% 0 5%;
  width: 90%;
  text-align: center;
  font-size: 2.3rem;
}

#internship .quote-mark i {
  font-size: 3rem;
  line-height: 3rem;
  color: rgba(var(--text-color), 0.6);
}

#internship .quote-text {
  margin-right: 0;
}

#internship .quote-author {
  text-align: center;
  font-size: 1.25rem;
}

#internship .list {
  width: 100%;
}

#internship .list .tbl {
  margin: 5rem 1% 0 1%;
  padding: 0 2% 0 2%;
  text-align: center;
  background-color: white;
  transition: 250ms ease-in-out;
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  outline: 0;
}

#internship .list .tbl:hover {
  transform: translateY(-10px);
  transition: 250ms ease-in-out;
  box-shadow: 0px 10px 37px -20px rgba(0, 0, 0, 0.39);
  -webkit-transition: 250ms ease-in-out;
  -moz-transition: 250ms ease-in-out;
  -ms-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#internship .list .tbl i {
  font-size: 3rem;
  line-height: 3rem;
  padding: 1.5rem;
  background-color: rgb(var(--text-color));
  color: white;
  text-align: center;
  transition: 1s;
  border-radius: 50%;
  position: relative;
  top: -2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

#internship .list h1 {
  margin-bottom: 5%;
  font-size: 1.7rem;
  line-height: 1.8rem;
  font-family: "Coda";
  font-weight: bold;
  margin-bottom: 0;
}

#internship .list p {
  margin: 1rem 0 1rem 0;
}

#internship .list p.subject {
  margin: 0.5rem 0 2.5rem 0;
  font-weight: bold;
  color: rgba(var(--text-color), 0.7)
}

@media (min-width: 1000px) {
  #internship .quote .quote-mark {
    position: relative;
    height: auto;
  }
  #internship .quote .im-quote-right {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 1000px) {
  #internship h1.title {
    margin-top: 4rem;
  }
  #internship .quote .quote-mark {
    line-height: 1rem;
  }
  #internship .quote {
    margin-top: 7rem;
    margin-bottom: 2rem;
  }
  #internship .quote-author {
    margin-bottom: 5rem;
  }
  #internship .list .tbl {
    width: 86%;
    margin: 4rem 5% 0.75rem 5%;
  }
}